
.cards{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
}
.post{
    flex: 0px 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}
.post img{
    max-width: 100%;
}
.post .text{
    padding: 0px 20px 20px;
}
button{
    background: gray;
    border: 1px solid black;
    color: white;
    padding: 10px;
    width: 50%;
    margin-left: 20px; 
    cursor: pointer;
}


