nav{
    padding: 1em;
    text-align: center;
}
.left{
    background-color: #D7E8D4;
    flex: 1;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}
* {
    box-sizing: border-box; 
}
.other{
    display: flex;
    flex-direction: column;
    flex: 5;
}
header{
    background-color: yellowgreen;
    height: 20vh;
    padding: 1em;
    text-align: center;
}
.inner-row{
    display: flex;
    flex-direction: row;
}
.inner-column{
    flex-flow: row wrap;
    flex: 4;
}
.items{
    text-align: center;
    flex: 3 0px;
}
article{
    min-height: 20vh;
    padding: 1em;
}
footer{
    background-color: yellowgreen;
    height: 20vh;
    padding: 1em;
    text-align: center;
}
aside{
    background-color: beige;
    flex: 1;
    padding: 1em;
    text-align: center;
}

